body {
  margin: 0px;
  overflow: hidden;
}

#container {
  margin: 0px;
  background-color: #0c1027;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}

/* nav-bar */
#nav-bar {
  position: fixed;
  top: 0;
  width: inherit;
  height: 50px;
  background-color: #3b5f8a;
  background-color: #798133 !important;
  background-color: #76595b;
  opacity: 0.8;
  background-attachment: fixed;
  box-shadow: 0px 0px 6px 5px #798133;
}

#nav-bar {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.2rem;
}

#name-logo {
  width: fit-content;
  margin-left: 1rem;
  display: inline-block;
}

#logo {
  margin: 0px;
  display: inline-block;
}

#logo img {
  width: 40px;
  height: 40px;
  margin: 0.3rem 0.5rem 0.2rem 0.5rem;
}

.name {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  margin-left: 0.2rem;
}

.name h1 {
  font-size: 1.2rem;
  margin-top: 0.4rem;
  margin-bottom: 0;
}

.name p {
  font-size: 1rem;
  margin: 0rem;
}

#fav {
  margin-left: 3%;
}

#fav p {
  margin-top: 14px;
}

/* search-bar */

#search-bar > div {
  display: inline-block;
}

#search-bar {
  margin-top: 9px;
  position: absolute;
  right: 15%;
}
#search-box {
  border-radius: 50px;
  background: white;
  border: 2px solid #798133;
  padding: 5px;
}

#search-box form {
  margin: 0;
}

#search-box input,
button {
  border: none;
  background-color: transparent;
  outline: none;
}

#bell {
  position: absolute;
  right: 10%;
  margin-top: 0.8rem;
  font-size: 1.3rem;
  color: white;
}

#bell:hover {
  animation: shake 1.5s 1 alternate;
}

#user {
  position: absolute;
  right: 2%;
  margin-top: 0.3rem;
  height: 40px;
  width: 40px;
  background-image: url(/assets/images/nav-bar/cris-evans.jpg);
  background-size: cover;
  border-radius: 50%;
}

/* bell animation */
@keyframes shake {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-5px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(5px, 0, 0);
  }
}

/* main section */

main {
  width: 96%;
  height: 92vh;
  margin-top: 0%;
  position: relative;
  top: 8%;
  left: 2%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.section-1 {
  margin-top: 1%;
  width: 70%;
  height: 91%;
  overflow: scroll;
  overflow-x: hidden;
}

.section-1::-webkit-scrollbar {
  display: none;
}
/* -------------------------------------------- */
/* .carousel section */
.carousel {
  width: 90%;
  height: 30%;
  position: relative;
  left: 5%;
  top: 5%;
  justify-content: space-around;
  overflow: visible;
}

.carousel img {
  transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s;
  box-shadow: 0px 0px 15px 8px black;
}

#carousel-img-1 {
  height: 14vw;
  width: 24vw;
  position: relative;
  left: 14%;
  top: -2%;
  z-index: 1;
  transform: scale(0.8);
}
#carousel-img-2 {
  width: 22vw;
  height: 13vw;
  z-index: 3;
  transform: scale(1.1);
}
#carousel-img-3 {
  height: 13vw;
  width: 24vw;
  position: relative;
  right: 14%;
  z-index: 2;
  transform: scale(0.8);
}

.carousel img:hover {
  z-index: 5 !important;
  transform: scale(1.2) !important;
  box-shadow: 0px 0px 15px 8px rgba(230, 196, 196, 0.3);
  cursor: pointer;
}
/* --------------------------------------- */
/* latest release section starting from here */

.section-box {
  margin-top: 8%;
  width: 90%;
  height: auto;
  position: relative;
  left: 5%;
}
.container-of-items {
  height: auto;
  position: relative;
  top: -15%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.box-heading {
  font-size: 1.2rem;
  color: blanchedalmond;
  position: relative;
  top: -10%;
}

.song-box {
  color: white;
  width: 45%;
  height: 7.1vw;
  position: relative;
  top: 0;
  margin-top: 3%;
  padding-bottom: 2%;
  padding-top: 2%;
  border: 2px solid #101642;
}

.song-box:hover {
  background-color: #101642;
  box-shadow: 0px 0px 15px 1px black;
  cursor: pointer;
}

.song-box img {
  position: absolute;
  width: 35%;
  height: auto;
  top: 0%;
}

.song-name {
  position: absolute;
  top: 5%;
  left: 50%;
}

.release-date {
  position: absolute;
  top: 40%;
  left: 50%;
}

.song-box i {
  position: absolute;
  top: 5%;
  right: 5%;
}
.song-duration {
  position: absolute;
  top: 15%;
  right: 5%;
}

/* populer artist section */
.artist {
  position: relative;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin: 10px;
}

.artist:hover {
  cursor: pointer;
}

.artist span {
  color: white;
  position: absolute;
  bottom: -20%;
  left: 20%;
}

.artist:nth-child(1) {
  background-image: url(/assets/images/artists/ariana.png);
}

.artist:nth-child(2) {
  background-image: url(/assets/images/artists/rihanna.jpg);
  background-position: left;
}

.artist:nth-child(3) {
  background-image: url(/assets/images/artists/arjit.jpg);
}

.artist:nth-child(4) {
  background-image: url(/assets/images/artists/Shirleysetiya.jpg);
}

.artist:nth-child(5) {
  background-image: url(/assets/images/artists/TaylorSwift.jpg);
}

.artist:nth-child(6) {
  background-image: url(/assets/images/artists/ed-sheeran-1.jpg);
}

/* songs based on language section */
.song-card {
  padding-bottom: 4%;
  margin: 10px;
}

.song-card img {
  width: 7rem;
  height: 7rem;
  border-radius: 7%;
}
.song-card p {
  color: white;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.song-card img:hover {
  box-shadow: 0px 0px 10px 1px white;
}

#genre-container {
  margin-top: 5%;
}

.genre {
  width: 30%;
  height: auto;
}

.genre img {
  position: relative;
  width: 100%;
  height: auto;
}

.genre img:hover {
  box-shadow: 0px 0px 10px 1px white;
  opacity: 0.5;
}
.genre p {
  text-align: center;
  top: 25%;
  color: white;
}

/* ------------------------------------------------- */

#main-gen-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.gen-out {
  width: 16vw;
  height: 13vw;
  overflow: hidden;
  margin: 0px;
}

.gen-in {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  transition: all ease-in-out 0.2s;
}

.gen-in span {
  color: white;
  font-size: 1.6rem;
  transition: all ease-in-out 0.2s;
}

#electronic {
  background-image: url(/assets/images/genre/electronic-small.png);
}

#road-trip {
  background-image: url(/assets/images/genre/road-small.png);
}

#party {
  background-image: url(/assets/images/genre/party-small.png);
}

.gen-out:hover .gen-in {
  transform: scale(1.2);
}

.gen-out:hover .gen-in > span {
  transform: scale(0.7);
}

.gen-in {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* ------------------------------------------------ */

/* podcast section */

#podcast {
  background-color: #101642;
  height: 700px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* podcast icon */

#div-1 {
  width: 10vw;
  height: 6vw;
  background-color: #f9d64c;
  margin-top: 3.5vw;
  margin-left: 12px;
  overflow: visible;
  margin-bottom: 45px;
}

#div-2 {
  width: 8.5vw;
  height: 8.5vw;
  background-color: #f0bc10;
  top: 2.2vw;
  left: 3vw;
  position: absolute;
}

#div-3 {
  width: 6.9vw;
  height: 10.5vw;
  background-color: #ff4f0a;
  top: -1vw;
  left: 0.8vw;
  position: absolute;
}
#div-3 i {
  font-size: 5.5vw;
  position: absolute;
  left: 1.1vw;
  top: 2.2vw;
  color: white;
}
/* podcast circles */
.pod-circle {
  width: 6.9vw;
  height: 6.9vw;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  padding: 10px;
  margin: 5px;
  margin-top: 2vw;
  text-align: center;
  vertical-align: middle;
}

.pod-circle span {
  position: relative;
  color: white;
  top: 2.7vw;
}

.pod-circle:nth-child(2) {
  background-image: url(/assets/images/podcast/pop.png);
}
.pod-circle:nth-child(3) {
  background-image: url(/assets/images/podcast/rock.png);
}
.pod-circle:nth-child(4) {
  background-image: url(/assets/images/podcast/chill.png);
}
.pod-circle:nth-child(5) {
  background-image: url(/assets/images/podcast/love.png);
}

/* podcast animation */

.pod-circle:hover {
  transition: all 2s ease-in-out;
  animation: pulse 0.6s infinite alternate;
  cursor: pointer;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
/* ---------------------------------------------------------- */

/* section-2 starting from here */

.section-2 {
  margin-top: 1%;
  width: 28%;
  height: 91%;
  overflow: scroll;
  overflow-x: hidden;
}

.section-2::-webkit-scrollbar {
  display: none;
}

.title-of-aside {
  width: 100%;
  height: 10%;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: sticky;
}

.heading {
  font-size: 1.5rem;
}
.dropdown {
  color: #eaf777;
  margin-right: 5%;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #eaf777;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
  z-index: 5 !important;
}

.dropdown-content a {
  color: #0c1027;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 1rem;
  font-weight: bold;
}

.dropdown-content a:hover {
  background-color: #101642;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* ------------------------------------- */
.queue-song-box > div {
  display: inline-block;
}

.queue-song-box {
  color: white;
  height: 3.5vw;
  position: relative;
  margin-top: 3.5vh;
  padding: 5px;
  /* border: 1px solid #101642; */
}

.queue-song-box:hover {
  background-color: #101642;
  cursor: pointer;
}

.image {
  width: 3.5vw;
  height: 3.5vw;
  background-size: cover;
  border-radius: 8%;
  margin-left: 3vw;
}

.number {
  position: absolute;
  display: table;
  width: auto;
  top: 1.4vw;
  left: 0.5vw;
}

.name-and-artist {
  height: 100%;
  margin-left: 1.5vw;
}

.heart {
  position: absolute;
  right: 1.5vw;
  top: 1.2vw;
  z-index: 5;
}

.fill-red {
  color: white;
}

.fill-red:hover {
  fill: red;
  stroke: red;
}
/* --------------------------------------- */

.artist-name-h1 {
  position: absolute;
  top: 2.2vw;
  color: gray;
  font-size: 1vw;
  margin: 0;
  letter-spacing: 0.1rem;
}

.song-name-h1 {
  position: absolute;
  top: 0.5vw;
  font-size: 1.1rem;
  margin: 0;
  letter-spacing: 0.1rem;
}
/* --------------------------------------- */
#song-1 {
  background-image: url(/assets/images/latest-release/hotair.jpg);
}

#song-2 {
  background-image: url(/assets/images/english-songs/idol.jpg);
}

#song-3 {
  background-image: url(/assets/images/hindi-songs/param\ sundari.jpg);
}

#song-4 {
  background-image: url(/assets/images/english-songs/taylar-swift.jpeg);
}

#song-5 {
  background-image: url(/assets/images/hindi-songs/tum\ ho.jpg);
}

#song-6 {
  background-image: url(/assets/images/english-songs/katty.jpg);
}

#song-7 {
  background-image: url(/assets/images/hindi-songs/lahore.jpg);
}

#song-8 {
  background-image: url(/assets/images/english-songs/nick.png);
}

#song-9 {
  background-image: url(/assets/images/hindi-songs/dil\ bechara.jpg);
}

#song-10 {
  background-image: url(/assets/images/hindi-songs/is\ qdar.jpg);
}

#song-11 {
  background-image: url(/assets/images/latest-release/square-image.jpg);
}

/* -------------------------------------- */
