body {
  margin: 0px;
  overflow: hidden;
}

#container {
  margin: 0px;
  background-color: #0c1027;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif !important;
}

/* nav-bar */
#nav-bar {
  position: fixed;
  top: 0;
  width: inherit;
  height: 50px;
  background-color: #1498a5;
  opacity: 0.8;
  background-attachment: fixed;
  box-shadow: 0px 0px 6px 5px #1498a5;
}

#nav-bar {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.2rem;
}

#name-logo {
  width: fit-content;
  margin-left: 1rem;
  display: inline-block;
}

#logo {
  margin: 0px;
  display: inline-block;
}

#logo img {
  width: 40px;
  height: 40px;
  margin: 0.3rem 0.5rem 0.2rem 0.5rem;
}

.name {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  margin-left: 0.2rem;
}

.name h1 {
  font-size: 1.2rem;
  margin-top: 0.4rem;
  margin-bottom: 0;
}

.name p {
  font-size: 1rem;
  margin: 0rem;
}

#fav {
  margin-left: 3%;
}

#fav p {
  margin-top: 14px;
  cursor: pointer;
}

/* search-bar */

#search-bar > div {
  display: inline-block;
}

#search-bar {
  margin-top: 9px;
  position: absolute;
  right: 15%;
}
#search-box {
  border-radius: 50px;
  background: white;
  border: 2px solid #1498a5;
  padding: 5px;
}

#search-box form {
  margin: 0;
}

#search-box input,
button {
  border: none;
  background-color: transparent;
  outline: none;
}

#search-box button {
  cursor: pointer;
}

#bell {
  position: absolute;
  right: 10%;
  margin-top: 0.8rem;
  font-size: 1.3rem;
  color: white;
  cursor: pointer;
}

#bell:hover {
  animation: shake 1.5s 1 alternate;
}

#user {
  position: absolute;
  right: 2%;
  margin-top: 0.3rem;
  height: 40px;
  width: 40px;
  background-image: url(../images/nav-bar/cris-evans.jpg);
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
}

/* bell animation */
@keyframes shake {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-5px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(5px, 0, 0);
  }
}

/* main section */

main {
  width: 87%;
  height: 90vh;
  margin-top: 0%;
  position: relative;
  top: 10%;
  left: 7.5%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.section-1 {
  margin-top: 1%;
  width: 65%;
  height: 91%;
  overflow: scroll;
  overflow-x: hidden;
}
.section-1::-webkit-scrollbar {
  display: none;
}
.main-artist-box {
  width: 56.5vw;
  height: 20vw;
  left: 7.5vw;
  background-color: #101642;
  display: flex;
  flex-direction: row;
  margin-bottom: 1vw;
}

.section-2 {
  margin-top: 1%;
  margin-left: 5%;
  width: 28%;
  height: 91%;
  overflow: hidden;
}

/* artist details box */
.main-art-img {
  background-image: url(../images/artists/diljit-singh.jpg);
  background-size: cover;
  background-position: top;
  width: 22vw;
  height: 19.95vw;
}

.main-art-details {
  height: 19.95vw;
  width: 34vw;
  position: relative;
}

.artist-name {
  color: white;
  font-size: 2vw;
  letter-spacing: 0.1vw;
  position: absolute;
  top: 3vw;
  left: 1.8vw;
}

.language {
  position: absolute;
  top: 5.4vw;
  left: 1.8vw;
}

.grey {
  font-size: 1.2vw;
  color: gray;
  letter-spacing: 1px;
  line-height: 1.8vw;
  word-spacing: 0px;
}

.followers {
  position: absolute;
  top: 3vw;
  right: 2.5vw;
}

.description {
  position: absolute;
  top: 8vw;
  left: 1.8vw;
  text-align: justify;
  margin-right: 2.5vw;
}

.button {
  position: absolute;
  top: 14vw;
  left: 1.6vw;
  background-image: linear-gradient(#403066, #2857a4);
  border: none;
  color: white;
  padding: 0.7vw 2vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.button-simple {
  position: absolute;
  top: 14.8vw;
  left: 12vw;
  color: white;
  font-size: 1vw;
  cursor: pointer;
}

/* ---------------------------------------- */
/* list of songs below artist details */

.song-bar-container {
  width: 56.5vw;
  overflow: scroll;
  overflow-x: hidden;
}
.song-bar-container::-webkit-scrollbar {
  display: none;
}

.queue-song-box > div {
  display: inline-block;
}

.queue-song-box {
  position: relative;
  color: white;
  height: 3.5vw;
  margin-top: 3.5vh;
  padding: 5px;
  border: 2px solid #101642;
}

.queue-song-box:hover {
  background-color: #101642;
  cursor: pointer;
}

.image {
  width: 3.5vw;
  height: 3.5vw;
  background-size: cover;
  border-radius: 8%;
  margin-left: 3vw;
}

.number {
  position: absolute;
  display: table;
  width: auto;
  top: 1.4vw;
  left: 0.5vw;
}

.name-and-artist {
  height: 100%;
  margin-left: 1.5vw;
}

.heart {
  position: absolute;
  right: 5vw;
  top: 1.2vw;
}

.fill-red:hover {
  fill: red;
  stroke: red;
}

.plus {
  position: absolute;
  right: 2vw;
  top: 1.4vw;
}

.plus:hover {
  color: yellowgreen;
}

.active-song {
  position: absolute;
  left: 23vw;
  top: 0.2vw;
}
/* --------------------------------------- */

.artist-name-h1 {
  position: absolute;
  top: 2.2vw;
  color: gray;
  font-size: 1.2vw;
  margin: 0;
  letter-spacing: 0.1rem;
}

.song-name-h1 {
  position: absolute;
  top: 0.5vw;
  font-size: 1.1rem;
  margin: 0;
  letter-spacing: 0.1rem;
}
/* --------------------------------------- */
/* images for songs */

#song-1 {
  background-image: url(../images/latest-release/hotair.jpg);
}

#song-2 {
  background-image: url(../images/english-songs/idol.jpg);
}

#song-3 {
  background-image: url(../images/hindi-songs/param\ sundari.jpg);
}

#song-4 {
  background-image: url(../images/english-songs/taylar-swift.jpeg);
}

#song-5 {
  background-image: url(../images/hindi-songs/tum\ ho.jpg);
}

#song-6 {
  background-image: url(../images/english-songs/katty.jpg);
}

#song-7 {
  background-image: url(../images/hindi-songs/lahore.jpg);
}

#song-8 {
  background-image: url(../images/english-songs/nick.png);
}

#song-9 {
  background-image: url(../images/hindi-songs/dil\ bechara.jpg);
}

#song-10 {
  background-image: url(../images/hindi-songs/is\ qdar.jpg);
}

/* -------------------------- */
/* similar artist section */

.big-artist-box > div {
  display: inline-block;
}

.big-artist-box {
  position: relative;
  color: white;
  height: 6vw;
  margin-top: 3.5vh;
  margin-bottom: 2vh;
  padding: 5px;
  border: 2px solid #101642;
}

.big-artist-box:hover {
  background-color: #101642;
  cursor: pointer;
}

.art-image {
  width: 6vw;
  height: 6vw;
  background-size: cover;
  border-radius: 8%;
  margin-left: 0vw;
}

.art-and-language {
  height: 100%;
  margin-left: 1.5vw;
}

.lang-name-h1 {
  position: absolute;
  top: 3vw;
  color: gray;
  font-size: 1vw;
  margin: 0;
  letter-spacing: 0.1rem;
}

.art-name-h1 {
  position: absolute;
  top: 1vw;
  font-size: 1.1rem;
  margin: 0;
  letter-spacing: 0.1rem;
}

.dot-icon {
  position: absolute;
  right: 2vw;
  top: 1vw;
}

/* ------------------------------------- */
/* background images for similar artists */

#art-1 {
  background-image: url(../images/artists/arjit.jpg);
}
#art-2 {
  background-image: url(../images/artists/ariana.png);
}
#art-3 {
  background-image: url(../images/artists/rihanna.jpg);
}
#art-4 {
  background-image: url(../images/artists/Shirleysetiya.jpg);
}
#art-5 {
  background-image: url(../images/artists/TaylorSwift.jpg);
}
/* --------------------------------------------- */

/* recentlyplayed section */

.art-recent-container {
  width: 100%;
  height: 50%;
  position: relative;
  overflow: scroll;
}

.art-recent-container::-webkit-scrollbar {
  display: none;
}

.title-box {
  width: 24.3vw;
  height: 4vw;
  background-color: #101642;
  color: white;
  z-index: 2;
  position: sticky;
  top: 0;
}

.a-h-name {
  display: inline-block;
  font-size: 1.4vw;
  margin-left: 1.5vw;
  margin-top: 1vw;
}

.v-all {
  display: inline-block;
  color: gray;
  font-size: 1vw;
  float: right;
  margin-right: 1.5vw;
  margin-top: 1.2vw;
}

.recently-played {
  right: 1vw;
}

.remove-border {
  border: none;
}
/* ------------------------------------------ */
/* footer section (media-player) */

.footer {
  position: fixed;
  bottom: 0;
  background-color: #439da5;
  height: 60px;
  width: 80%;
  margin-left: 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 0px 8px 1px black;
}

.corner {
  height: 60px;
  width: 30%;
}

.mid-part {
  height: 60px;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.play-img {
  display: inline;
}

.play-img img {
  height: 50px;
  width: 50px;
  margin: 5px;
  margin-left: 1vw;
}

.play-name-art {
  display: inline-block;
  position: relative;
  height: 60px;
  width: 8vw;
}

.p-song-name {
  margin: 0;
  position: absolute;
  top: 10px;
  left: 0;
}

.p-art-name {
  margin: 0;
  position: absolute;
  top: 32px;
}

.icon-class {
  display: inline-block;
  position: relative;
  height: 60px;
  width: 4vw;
}

.p-ban {
  position: absolute;
  top: 5px;
  left: 12px;
}

.p-heart {
  position: absolute;
  top: 30px;
  left: 12px;
}

.media-buttons {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  color: black;
}
.progress-bar {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.duration {
  height: 100%;
  width: 10%;
}

.bar {
  height: 100%;
  width: 50%;
}

.custom-range {
  width: 100%;
  height: 4px;
  outline: none;
}

.margin {
  margin-left: 7vw;
  margin-right: 1vw;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.custom-range-2 {
  width: 30%;
  height: 4px;
  outline: none;
}

.suffle {
  margin-left: 5vw;
}
.loop {
  margin-right: 5vw;
}

.footer span {
  cursor: pointer;
}

/* to make this page responsive */

@media screen and (max-width: 1200px) {
  .artist-name-h1 {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 999px) {
  .footer {
    width: 100vw;
    margin-left: 0;
  }
  #bell {
    height: 0;
    width: 0;
  }
  .section-2 {
    height: 0;
    width: 0;
    overflow: hidden;
  }
  .section-1 {
    width: 100%;
  }
  .main-artist-box {
    width: 100%;
    height: 35vw;
  }
  .main-art-img {
    width: 40%;
    height: 35vw;
  }
  .main-art-details {
    height: 35vw;
    width: 45vw;
  }
  .artist-name {
    font-size: 25px;
    letter-spacing: 2px;
  }
  .grey {
    font-size: 17px;
    line-height: 3vw;
  }
  .followers {
    top: 3.5vw;
  }
  .language {
    top: 9vw;
  }
  .description {
    top: 14vw;
  }
  .button {
    top: 27vw;
    padding: 1.2vw 4vw;
    margin: 4px 2px;
  }

  .button-simple {
    top: 28vw;
    left: 22vw;
    font-size: 2.5vw;
  }
  .song-bar-container {
    width: 100%;
  }
  .queue-song-box {
    height: 5vw;
    margin-top: 3.5vh;
    padding: 5px;
  }
  .image {
    width: 5vw;
    height: 5vw;
    margin-left: 4vw;
  }
  .number {
    top: 2vw;
    left: 0.5vw;
  }
  .song-name-h1 {
    top: 1vw;
    font-size: 1.4rem;
  }
  .artist-name-h1 {
    display: none;
  }
  .active-song {
    left: 35vw;
    top: 0.2vw;
  }
}

@media screen and (max-width: 768px) {
  .song-box {
    width: 85%;
    height: 15vw;
  }

  #fav {
    width: 0;
    height: 0;
    overflow: hidden;
  }
  #bell {
    width: 0;
    height: 0;
    overflow: hidden;
  }
  .main-artist-box {
    width: 100%;
    height: 70vw;
  }
  .main-art-img {
    width: 40%;
    height: 45vw;
  }
  .main-art-details {
    height: 45vw;
    width: 50vw;
  }
  .artist-name {
    font-size: 25px;
    letter-spacing: 2px;
  }
  .grey {
    font-size: 17px;
    line-height: 3vw;
  }
  .followers {
    top: 11vw;
  }
  .language {
    top: 11vw;
  }
  .description {
    top: 19vw;
    line-height: 3.4vw;
  }
  .button {
    top: 35vw;
  }

  .button-simple {
    top: 36vw;
    left: 25vw;
  }
  .queue-song-box {
    height: 7vw;
  }
  .image {
    width: 7vw;
    height: 7vw;
    margin-left: 4.5vw;
  }
  .number {
    top: 2.8vw;
  }
  .song-name-h1 {
    top: 1.9vw;
    font-size: 3.2vw;
  }
  .heart {
    top: 2.5vw;
    right: 8vw;
  }
  .plus {
    top: 2.9vw;
  }
}

@media screen and (max-width: 576px) {
  .icon-class {
    width: 0;
    height: 0;
    overflow: hidden;
  }
  .corner {
    width: 25%;
  }
  .play-name-art {
    width: 6vw;
  }
  .mid-part {
    width: 50%;
  }
  .suffle {
    margin-left: 0;
    display: none;
  }
  .loop {
    margin-right: 0;
    display: none;
  }
  .margin {
    margin-left: 1vw;
  }
  .hide {
    display: none;
  }
  .custom-range-2 {
    width: 60%;
  }
  #search-box input {
    width: 11.5vw;
  }
  .main-artist-box {
    width: 100%;
    height: 80vw;
  }
  .main-art-img {
    width: 50%;
    height: 100%;
  }
  .artist-name {
    font-size: 20px;
  }
  .grey {
    font-size: 15px;
  }
  .followers {
    top: 9vw;
    left: 2vw;
  }
  .language {
    display: none;
  }
  .description {
    top: 15vw;
  }
  .button {
    top: 37vw;
  }

  .button-simple {
    top: 38.5vw;
    left: 25vw;
  }
  .queue-song-box {
    height: 10vw;
  }
  .image {
    width: 10vw;
    height: 10vw;
    margin-left: 5vw;
  }
  .number {
    top: 4vw;
  }
  .song-name-h1 {
    top: 4vw;
    font-size: 3.2vw;
  }
  .heart {
    top: 3.3vw;
    right: 8vw;
  }
  .plus {
    top: 4vw;
  }
}

@media screen and (max-width: 400px) {
  .button {
    top: 40vw;
    padding: 1.5vw 4.5vw;
    margin: 4px 2px;
  }

  .button-simple {
    top: 42.5vw;
    left: 25vw;
    font-size: 3.5vw;
  }
  .followers {
    top: 10.5vw;
  }
  .description {
    top: 15.5vw;
    text-align: unset;
    letter-spacing: 0.7px;
  }
}
